<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContant"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sales" routerLinkActive="active" class="nav-link">Sales</a>
      </li>
      <li class="nav-item">
        <a routerLink="/new" routerLinkActive="active" class="nav-link">New product</a>
      </li>
    </ul>
  </div>
</nav>
