<h3>Adding a new product</h3>
<form ngForm #productForm="ngForm">
  <div class="row mt-2">
    <div class="col-4">
      Product Name
    </div>
    <div class="col-8">
      <input name="name" type="text" size="50"
             [(ngModel)]="aProduct.name" required
             #nameField="ngModel" maxlength="50"
             pInputText
      >
      <div [hidden]="nameField.valid || nameField.untouched"
           class="alert alert-danger"
      >
        Enter a product name
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
      Product ID
    </div>
    <div class="col-8">
      <input name="id" type="text" size="13"
             [(ngModel)]="aProduct.id" required
             #productidField="ngModel" maxlength="13"
             pInputText
      >
      <div [hidden]="productidField.valid || productidField.untouched"
           class="alert alert-danger"
      >
        Enter a product id
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
      Product Manager
    </div>
    <div class="col-8">
      <input name="manager" type="text" size="30" [(ngModel)]="aProduct.manager" maxlength="30" pInputText>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
      Sales start date
    </div>
    <div class="col-8">
      <input name="startdate" type="date" size="10"
             [(ngModel)]="aProduct.startDate" required
             #startField="ngModel"
             pInputText
      >
      <div [hidden]="startField.valid || startField.untouched"
           class="alert alert-danger"
      >
        Enter a sales product start date
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
    </div>
    <div class="col-8">
      <button class="btn btn-secondary mr-2" (click)="clearForm(productForm)">Clear</button>
      <button class="btn btn-primary" (click)="addProduct(productForm)">Add a product</button>
    </div>
  </div>
</form>
