<h3>Sales report</h3>
<p-table [value]="salesData" dataKey="productID">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sales>
    <tr>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="sales.productID">
          </ng-template>
          <ng-template pTemplate="output">
            {{ sales.productID }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="sales.productName">
          </ng-template>
          <ng-template pTemplate="output">
            {{ sales.productName }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="number" [(ngModel)]="sales.salesQ1">
          </ng-template>
          <ng-template pTemplate="output">
            {{ sales.salesQ1 | number }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="number" [(ngModel)]="sales.salesQ2">
          </ng-template>
          <ng-template pTemplate="output">
            {{ sales.salesQ2 | number }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="number" [(ngModel)]="sales.salesQ3">
          </ng-template>
          <ng-template pTemplate="output">
            {{ sales.salesQ3 | number }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="number" [(ngModel)]="sales.salesQ4">
          </ng-template>
          <ng-template pTemplate="output">
            {{ sales.salesQ4 | number }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        {{ totalSales(sales) | number }}
      </td>
    </tr>
  </ng-template>
</p-table>
