<div class="container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control"
             id="username" name="username"
             [(ngModel)]="loginfields.username"
             required #usernameField="ngModel"
             pInputText
      >
      <div [hidden]="usernameField.valid || usernameField.untouched"
        class="alert alert-danger"
      >
        Enter a username
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control"
             id="password" name="password"
             [(ngModel)]="loginfields.password"
             required #passwordField="ngModel"
             pInputText
      >
      <div [hidden]="passwordField.valid || passwordField.untouched"
           class="alert alert-danger"
      >
        Enter a password
      </div>
    </div>
    <button class="btn btn-primary">
      Submit
    </button>
  </form>
  <div [hidden]="!loginError" class="alert alert-danger">
    Invalid username/password
  </div>
</div>
